.image-wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 9px 6px 7px rgba(255, 255, 255, 0.5);
}