.button {
    font-size: 30px;
    line-height: 30px;
    width: 200px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    margin: 0 auto 20px;
    display: block;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.1);
        transition: all ease-in 0.4s;
    }

    &:hover::before {
        opacity: 0 ;
        transform: scale(0.5, 0.5);
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border: 1px solid rgba(255, 255, 255, 0.5);
        transform: scale(1.2, 1.2);
    }

    &:hover::after {
        opacity: 1;
        transform: scale(1, 1);
    }
}