doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="icon" href="../static/favicon.png")
        title SomeShit


    body
        .container
            .picture-block
                .image-wrap
                    img(src="../src/images/img1.jpg" alt="").img.js-img
            include ../src/components/button.pug
            +button({
                content: 'Click here'
            }).js-button
            p.text-block Number of pictures:
                span.picture-count.js-count



        script(src="../src/js/index.js")