@import "partials/fonts.less";
@import "partials/normalize.less";
@import "components/button/button.less";
@import "components/text-block/text-block.less";
@import "components/img/img.less";
@import "components/image-wrap/image-wrap.less";
@import "components/picture-block/picture-block.less";
@import "components/picture-count/picture-count.less";

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-size: 16px;
    .monteCarlo();
    line-height: 21px;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}