mixin button(obj)
    if obj.link == true
        a.button( href=obj.href title=`${obj.content}` )&attributes( attributes ) #{obj.content}
            block
    else
        button.button&attributes( attributes ) #{obj.content}
            block