@font-face {
    font-family: 'MonteCarlo';
    src: url('../fonts/MonteCarlo-Regular.woff2') format('woff2'),
        url('../fonts/MonteCarlo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.monteCarlo(){font-family: "MonteCarlo";}